body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("tlo/zdjecietla.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgb(140, 163, 10);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    max-width: none;
  }
}

header {
  background: url("tlo/tlogora.jpg") no-repeat center center;
  background-size: cover;
  color: rgb(157, 152, 152);
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #989302;
}

h2,
h3 {
  color: #ffd700;
  border-bottom: 2px solid #ffd700;
  padding-bottom: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Dodano stylizację dla formularza */
form {
  margin-top: 20px;
}

label {
  color: white;
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  background-color: #ffd700;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #989302;
}
