body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('tlo/zdjecietla.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  header {
    background: url('tlo/tlogora.jpg') no-repeat center center;
    background-size: cover;
    color: rgb(157, 152, 152);
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #989302;
  }
  
  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-bottom: 100px; 
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFD700;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: white;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: solid 1px #FFD700;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

button  {
    background-color: #FFD700;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #989302;
}
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: solid 1px #FFD700;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

select option {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFD700;
}
select option:checked {
    background-color: #FFD700;
    color: black;
}

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


  