body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("tlo/zdjecietla.jpg") no-repeat center center fixed;
  background-size: cover;
}

header {
  background: url("tlo/tlogora.jpg") no-repeat center center;
  background-size: cover;
  color: rgb(157, 152, 152);
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px; 
}

nav ul li:last-child {
  margin-right: 0; 
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #989302;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

th,
td {
  border: 5px solid #4d4e00;
  padding: 10px;
  text-align: center;
  
}

th {
  border-bottom: 0px solid;
  background-color: #474747;
  color: rgb(226, 192, 0);
  
}

td {
  background-color: #474747;
  color: rgb(226, 192, 0);
}

table {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
  color: #fff700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
